<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>main</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  <div class="vertical-center">
    <img src="assets/imgs/Tienda.png" class="ion-align-end"/>
    <ion-card-content >
      <ion-card-title>
        Puedes ver la sorprendende divercidad de productos con la que contamos.
      </ion-card-title>
    </ion-card-content>
    <img src="assets/imgs/Pago.png" class="ion-align-center"/>
    <ion-card-content >
      <ion-card-title>
        Paga con el metodo que más te guste.
      </ion-card-title>
    </ion-card-content>
  </div>
</ion-content>
